@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,300;0,500;0,700;1,400;1,700&display=swap');

/*
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-Thin.woff2') format('woff2'),
    url('../fonts/Urbanist-Thin.woff') format('woff'),
    url('../fonts/Urbanist-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-Medium.woff2') format('woff2'),
    url('../fonts/Urbanist-Medium.woff') format('woff'),
    url('../fonts/Urbanist-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-Bold.woff2') format('woff2'),
    url('../fonts/Urbanist-Bold.woff') format('woff'),
    url('../fonts/Urbanist-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-SemiBold.woff2') format('woff2'),
    url('../fonts/Urbanist-SemiBold.woff') format('woff'),
    url('../fonts/Urbanist-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-Light.woff2') format('woff2'),
    url('../fonts/Urbanist-Light.woff') format('woff'),
    url('../fonts/Urbanist-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-Regular.woff2') format('woff2'),
    url('../fonts/Urbanist-Regular.woff') format('woff'),
    url('../fonts/Urbanist-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*/


/*---------- icomoon fonts ----------*/
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?kqvu89');
    src:  url('../fonts/icomoon.eot?kqvu89#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?kqvu89') format('woff2'),
    url('../fonts/icomoon.ttf?kqvu89') format('truetype'),
    url('../fonts/icomoon.woff?kqvu89') format('woff'),
    url('../fonts/icomoon.svg?kqvu89#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chewron-down:before {
    content: "\e900";
}
.icon-chewron-up:before {
    content: "\e901";
}
.icon-chewron-left:before {
    content: "\e902";
}
.icon-chewron-right:before {
    content: "\e903";
}
.icon-arrow-right:before {
    content: "\e904";
}
.icon-arrow-down:before {
    content: "\e905";
}
.icon-arrow-left:before {
    content: "\e906";
}
.icon-arrow-up:before {
    content: "\e907";
}
.icon-arrow-down-long:before {
    content: "\e908";
}
.icon-arrow-down-right:before {
    content: "\e909";
}
.icon-instagram:before {
    content: "\e90a";
}
.icon-linkedin:before {
    content: "\e90b";
}
.icon-twitter:before {
    content: "\e90c";
}
/*---------- end of icomoon fonts ----------*/