$first-line-color: #00d0ff;
$second-line-color: #8d00ff;
$third-line-color: #ff0000;

$dark-bg-color: #212227;

$white: #ffffff;

/* PRELOADER*/

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 100000;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: $white;

	&.dark {
		background-color: $dark-bg-color;
	}

	&.fade {
		transition: 0.3s ease-in-out all;
		opacity: 0;
	}

	&.loaded {
		display: none;
	}

	&__logo {
		animation: scale-up-down 3s linear infinite;
		position: relative;
		z-index: 3;

		img {
			width: 200px;
			object-fit: contain;
		}
	}

	&__item {
		width: 100px;
		height: 100px;
		position: absolute;
		perspective: 780px;
		border-radius: 50%;
		margin-top: -80px;
		left: calc(50% - 50px);

		&.first {
			border-bottom: 3px solid $first-line-color;
			animation: rotate-one 1.15s linear infinite;
		}

		&.second {
			border-right: 3px solid $second-line-color;
			animation: rotate-two 1.15s linear infinite;
		}

		&.third {
			border-top: 3px solid $third-line-color;
			animation: rotate-three 1.15s linear infinite;
		}
	}
}

@keyframes scale-up-down {
	50% {
		transform: scale(1.25);
	}
}

@keyframes rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
		z-index: 4;
	}
}

@keyframes rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
		/*z-index: 4;*/
	}
}

@keyframes rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
		z-index: 4;
	}
}